<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Help Us Reduce Food Waste </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/home.css">
    	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    </head>
    <body>
		<div class="main-page">
			<nav>
				<div class="logo-div">
					<img src="../static/assets/logo.png">
					<p>GIVEAT</p>
				</div>
				
				<ul id="Menu Items">
					<li> <a href="/about">ABOUT US</a> </li>
					<li> <a href="/contact">CONTACT US</a> </li>   
					<li> <a href="/login">LOGIN</a> </li>
				</ul>
			</nav>
			
			<div class="title">
				<h1>Give away extra food at extra ease</h1>
				<a href="/donate" class="button">Donate</a>
			</div>
			
			<content>
				<section class="image-section">
					<img src="../static/assets/food-waste.jpg">
					<a href="/redirect">Image by freepik</a>
					<p>Donating food made easier.</p>
				</section>
				
				<section class="text-section">
					<p> <!-- Placeholder content. Replace it with actual content here -->
						Food waste poses a global challenge, with millions
						of tons discarded annually. In developed nations,
						consumer habits, including overbuying and adherence
						to expiration dates, contribute significantly.
						Throughout the supply chain, inefficiencies and
						cosmetic standards lead to further waste. This
						squanders resources like water and energy,
						exacerbating environmental strain. Economically, it
						represents lost investment and revenue. Addressing
						food waste demands education, policy interventions,
						infrastructure improvements, and innovative
						technologies. By collectively acting, we can
						mitigate environmental harm, reduce hunger, and
						foster sustainable food systems for the future.
						
					</p>
				</section>
			</content>
		</div>
		
		<footer>
			<div class="footlinks">
		   	    <h4>Quick Links</h4>
		        <ul>
		  	        <li><a href="/login">Login</a></li>
		            <li><a href="/donate">Donate</a></li>
		            <li><a href="/contact">Contact Us</a></li>
		   		</ul>
			</div>
	
	        <div class="footlinks">
	    	    <h4>Connect</h4>
	    	    <div class="social">
					<!-- Add socials if exist, else remove-->
	    	    	<a href="" target="_blank"><i class='bx bxl-github'></i></a>
	    	        <a href="" target="_blank"><i class='bx bxl-instagram' ></i></a>
	                <a href="" target="_blank"><i class='bx bxl-twitter' ></i></a>
	                <a href="" target="_blank"><i class='bx bxl-youtube' ></i></a>
	            </div>
	    	</div>
		</footer>
    </body>
</html>
